.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1.5fr 1.5fr auto;
    gap: 10px;
    padding: 10px;
    background-color: #eee;
 
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "edu main main"
        "course main main"
        "aside1 aside2 aside3";
}
 
.container > * {
    padding: 20px;
    border-radius: 5px;
}
 
.navigation-bar {
    grid-area: nav;
    background-color: #ffe082;
}
 
.about-me {
    grid-area: header;
    background-color: #f48fb1; 
}
 
.education {
    grid-area: edu;
    background-color: #d1c4e9; 
}
 

.course {
    grid-area: course;
    background-color: #b39ddb;
}
 
.picture-gallery {
    grid-area: main;
    background-color: #b2ebf2; 
}
 
.it-experience {
    grid-area: aside1;
    background-color: #ffccbc;
}
 
.hobbies {
    grid-area: aside2;
    background-color: #c8e6c9; 
}

.goals {
    grid-area: aside3;
    background-color: #e1bee7; 
}