.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;  
    grid-template-rows: auto;  
    gap: 10px;
    background-color: dodgerblue;
    padding: 10px;
}
 
.container > div {
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
 
header {
    grid-column: 1 / 4;
    background-color: pink;
}
 
 
.about-me {
    grid-column: 1 / 2;
    background-color: lightpurple;
}
 
.main-content {
    grid-column: 2 / 3;
    background-color: lightblue;
}
 
.side-bar {
    grid-column: 1 / 2;
    background-color: lightgreen;
}
 
.aside-1 {
    grid-column: 1 / 2; /* Aside 1 */
    background-color: lightcoral;
}
 
.aside-2 {
    grid-column: 2 / 3; /* Aside 2 */
    background-color: lightgreen;
}
 
.aside-3 {
    grid-column: 3 / 4;
    background-color: lightgray;
}