body {
  background-color: #fce4ec;
  font-family: 'Verdana', Arial, sans-serif;
  color: #333333;

}
h1 {
  color: #ff69b4;
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffc0cb;
}

p {
    line-height: 1.8;
    font-size: 1.1em;
    text-align: left;
    padding: 0;
    margin: 0;


}

.eli {
    font-weight: bold;
    color: #e91e63;
    max-width: 100%;
    border: 4px solid #ffc0cb;
    border-radius: 5px;
}

